/* .ng-star-inserted .mat-form-field-label {
    color: black !important;
}

.ng-star-inserted .mat-select-arrow {
    color: black !important;
}

.ng-star-inserted .mat-select-value {
    color: black !important;
} */