<div mat-dialog-content fxLayout="column" fxLayoutAlign="left left" style="height: 40vh">
  <h1 *ngIf="data.objectName">{{ data.objectName }}</h1>
  <p>{{ data.question | translate }}</p>
</div>
<div mat-dialog-actions fxLayoutAlign="end" style="margin-bottom: 0px">
  <button mat-flat-button class="button-right-align" color="primary" [mat-dialog-close]="false" cdkFocusInitial
    #cancelButton>{{ "DIALOG.CONFIRMATION.NO" | translate }}</button>
  <button mat-flat-button class="button-right-align" color="primary" [mat-dialog-close]="true"
    #acceptButton>{{ "DIALOG.CONFIRMATION.YES" | translate }}</button>
</div>