<form [formGroup]="assignLanguageForm" novalidate (ngSubmit)="assignGameLanguage(assignLanguageForm.value)"
  #form="ngForm">
  <div fxFill fxLayout="row" fxLayoutGap="1%">
    <mat-form-field floatLabel="never" fxFlex="1 1 33%">
      <mat-select placeholder="Game" formControlName="newGame" id="newGame" (selectionChange)="gameSelectionChanged()">
        <mat-option *ngFor="let game of games" [value]="game">
          {{ game.name }}</mat-option>
      </mat-select>
      <mat-error *ngIf="hasError('newGame', 'required')">
        {{ "USERS_ADMIN.ERROR_GAME_EMPTY" | translate }}
      </mat-error>
    </mat-form-field>
    <mat-form-field floatLabel="never" fxFlex="1 1 33%">
      <mat-select placeholder="Language" formControlName="newLanguage" id="newLanguage">
        <mat-option *ngFor="let language of getUnassignedLanguagesFor(assignLanguageForm.get('newGame').value)"
          [value]="language">
          {{ language.language_id | uppercase }} -
          {{ "GAME_LANGUAGE." + language.language_id | uppercase | translate }}</mat-option>
      </mat-select>
      <mat-error *ngIf="hasError('newLanguage', 'required')">
        {{ "USERS_ADMIN.ERROR_LANGUAGE_EMPTY" | translate }}
      </mat-error>
    </mat-form-field>
    <div class="button-container" fxFlex="1 1 34%" fxLayoutAlign="flex-end center">
      <button mat-flat-button color="primary">
        {{ "USERS_ADMIN.ADD_PERMISSION" | translate }}
      </button>
    </div>
  </div>


</form>