.mat-input-element {
    display: block;
}

.user .mat-expansion-panel-content {
    background-color: #222;
}

.permission-list {
    margin: 0 -3vh 0 -3vh !important;
}

.permission-list .mat-list-item {
    padding: 0 2vh 0 2vh !important;
    width: auto !important;
}

.permission-list .mat-list-item:nth-child(even) {
    background-color: #111;
}

.permission {
    height: 6vh !important;
}